In [6]:
#import dependencies
import pandas as pd

In [7]:
# Load the data from the past year at four seasonal points for nyc
citi_bike_mar22 = pd.read_csv('Resources/202203-citibike-tripdata.csv')
citi_bike_jun22 = pd.read_csv('Resources/202206-citibike-tripdata.csv')
citi_bike_sept22 = pd.read_csv('Resources/202209-citibike-tripdata.csv')
citi_bike_dec22 = pd.read_csv('Resources/202212-citibike-tripdata.csv')

C:\Users\priya\AppData\Local\Temp\ipykernel_34380\770763627.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_mar22 = pd.read_csv('Resources/202203-citibike-tripdata.csv')
C:\Users\priya\AppData\Local\Temp\ipykernel_34380\770763627.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_jun22 = pd.read_csv('Resources/202206-citibike-tripdata.csv')
C:\Users\priya\AppData\Local\Temp\ipykernel_34380\770763627.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_sept22 = pd.read_csv('Resources/202209-citibike-tripdata.csv')
C:\Users\priya\AppData\Local\Temp\ipykernel_34380\770763627.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_bike_dec22 = pd.read_csv('Resources/202212-citibike-tripdata.csv')

In [8]:
# add all the number of rows for each dataframe
total_rows = 0
total_rows += citi_bike_mar22.shape[0]
total_rows += citi_bike_jun22.shape[0]
total_rows += citi_bike_sept22.shape[0]
total_rows += citi_bike_dec22.shape[0]
total_rows

10483102

In [9]:
citi_bike_2022 = [citi_bike_mar22, citi_bike_jun22, citi_bike_sept22, citi_bike_dec22]

In [10]:
# check that the number of rows is the same
citi_bike_merged = pd.concat(citi_bike_2022, axis=0, ignore_index = True)
citi_bike_merged.shape[0]

10483102

In [11]:
# check for nul values
citi_bike_merged.count()

ride_id               10483102
rideable_type         10483102
started_at            10483102
ended_at              10483102
start_station_name    10483065
start_station_id      10483065
end_station_name      10461746
end_station_id        10461746
start_lat             10483102
start_lng             10483102
end_lat               10472282
end_lng               10472282
member_casual         10483102
dtype: int64

In [12]:
# drop null values
citi_bike_merged = citi_bike_merged.dropna()
citi_bike_merged.shape[0]

10461746

In [13]:
# check the datatypes
citi_bike_merged.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [14]:
citi_bike_merged["rideable_type"].unique()

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

In [15]:
citi_bike_merged["start_station_name"].unique()

array(['Washington St & Barrow St', '1 Ave & E 110 St',
       'Crescent St & Broadway', ..., 'E 85 St & East End Ave',
       'Herkimer St & Eastern Pkwy', 'Troy Ave & Park Pl'], dtype=object)

In [16]:
citi_bike_merged["end_station_name"].unique()

array(['University Pl & E 14 St', 'W 11 St & 6 Ave',
       'E 110 St & Madison Ave', ..., 'Brooklyn Ave & Dean St',
       'Journal Square', 'Eastern Pkwy & Troy Ave'], dtype=object)

In [17]:
citi_bike_merged["member_casual"].unique()

array(['member', 'casual'], dtype=object)

In [18]:
citi_bike_merged.to_csv(r'Resources/citi_bike_merged.csv', index = False)